@model TempleteD.Models.EmpVM;

@{
    ViewBag.Title = "Edit";

}

<h1>Edit</h1>

<<form asp-controller="Employee" asp-action="EmpEdit" method="post">
    <div>
        <labal asp-for="Name"> Name</labal>
        <input type="text" asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div>
        <labal asp-for="Salary"> Salary</labal>
        <input type="number" asp-for="Salary" class="form-control" />
        <span class="text-danger" asp-validation-for="Salary"></span>
    </div>

    <div>
        <labal asp-for="Address"> Address</labal>
        <input type="text" asp-for="Address" class="form-control" />
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div>
        <labal asp-for="Note">Note </labal>
        <textarea asp-for="Note" class="form-control" rows="4"></textarea>
        <span class="text-danger" asp-validation-for="Note"></span>
    </div>

    <div>
        <labal asp-for="Email"> Email</labal>
        <input type="email" asp-for="Email" class="form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div>
        <labal asp-for="HireDate"> HireDate</labal>
        <input type="date" asp-for="HireDate" class="form-control" />
        <span class="text-danger" asp-validation-for="HireDate"></span>
    </div>

    <div class="custom-control custom-checkbox">
        <labal asp-for="IsActive"> IsActive</labal>
        <input type="checkbox" asp-for="IsActive" />
        <span class="text-danger" asp-validation-for="IsActive"></span>
    </div>

    <div>
        <labal asp-for="DepartmentId"> FK_Department</labal>
        <input type="number" asp-for="DepartmentId" />
        <span class="text-danger" asp-validation-for="DepartmentId"></span>
    </div>

    <input type="submit" value="Edit" class="btn btn-primary" />

   

</form>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



